.buttonsContainer {
}

.responseContainer {
    display: flex;
    align-items: center;
    border: 2px solid #2e438f;
    width: 900px;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}