.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0 100px 100px;

}

.hwTitle {
    margin-top: 20px;
    font-weight: bold;
text-align: center;

}


